#main{
    min-height: 90.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
}

.container-filtros{
    display: block;
    margin-right: 5%;
    width: 15vw;
    max-height: 23.5rem;
    background-color: rgb(246, 246, 246);
    padding: 15px;
    border-radius: 10px;
}

#container-main > h1{
    margin-bottom: 20px;
    color: rgb(239, 107, 107);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70vw;
}

.container-card{
    margin-bottom: 15px;
}

.container-card > img{
    height: 10rem;
}

.container-details > h5{
    font-size: 14px;
}

.container-details > p{
    font-size: 12px;
    margin: 0px;
}

.button-comprar{
    margin-top: 20px;
}

.container-avaliacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.container-avaliacoes > span{
    color: yellow;
    font-size: 12px;
}

.desconto{
    font-weight: 700;
    color: rgb(247, 60, 60);
}